body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
.color-gray{
    color: gray;
}
.color-orange{
    color: orange;
}
.div-one{
    width: 80%;
    padding-left: 8%;
    padding-right: 10%;
    padding-top: 5%;
    gap: 20px;
}
.div-one img{
    width: 100%;
}
.flex{
    display: flex;
    margin-bottom: 80%;
}
#hp{
    padding-top: 8%;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( tomato, orange);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
}